In [17]:
import pandas as pd
import csv

School_data_load = "Resources/schools_complete.csv"
Student_data_load = "Resources/students_complete.csv"

school_data_df= pd.read_csv(School_data_load)
student_data_df= pd.read_csv(Student_data_load)

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

#cleaning data
for name in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(name,"")

In [18]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name","school_name"])
school_data_complete_df.head(
)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [64]:
student_count = school_data_complete_df["Student ID"].count()
school_count = school_data_df.school_name.count()
total_budget = int(school_data_df.budget.sum())
average_reading_score = school_data_complete_df.reading_score.mean() 
average_math_score = school_data_complete_df.math_score.mean()

In [65]:
passing_math = school_data_complete_df[school_data_complete_df.math_score>= 70] 
passing_reading = school_data_complete_df[school_data_complete_df.reading_score>= 70]

passing_math_count = passing_math.student_name.count()
passing_reading_count = passing_reading.student_name.count()
percentage_math_approved = passing_math_count / float(student_count) *100
percentage_reading_aproved = passing_reading_count / float(student_count)*100
percentage_reading_aproved

85.80546336482001

In [66]:
pass_students = school_data_complete_df[(school_data_complete_df.math_score>= 70) & (school_data_complete_df.reading_score>=70)]
pass_count = pass_students.student_name.count()
pass_count

25528

In [67]:
overall_passing = pass_count / float(student_count) * 100
overall_passing

65.17232575950983

In [94]:
district_summary_df = pd.DataFrame([{"Total Schools":school_count, "Total Students":student_count, "Total Budget":total_budget, "Average Math Score":average_math_score, "Average Reading Score":average_reading_score, "% Passing Math":percentage_math_approved, "% Passing reading":percentage_reading_aproved, "Overall Passing":overall_passing}])
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing reading"] = district_summary_df["% Passing reading"].map("{:.2f}%".format)
district_summary_df["Overall Passing"] = district_summary_df["Overall Passing"].map("{:.2f}%".format)

In [95]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%